regex==2026.4.4
joblib==1.5.3
networkx==3.6.1
sentry-sdk==2.58.0
cuda-toolkit==12.8.1
smmap==5.0.3
nvidia-cuda-nvrtc-cu12==12.8.93
anyio==4.13.0
Pygments==2.20.0
threadpoolctl==3.6.0
GitPython==3.1.47
huggingface_hub==1.12.0
torchvision==0.26.0+cu128
typing_extensions==4.15.0
tqdm==4.67.3
fsspec==2026.3.0
nvidia-cudnn-cu12==9.19.0.56
click==8.3.3
protobuf==7.34.1
nvidia-cublas-cu12==12.8.4.1
urllib3==2.6.3
tokenizers==0.22.2
torch==2.11.0+cu128
numpy==2.4.4
nvidia-cufile-cu12==1.13.1.3
wandb==0.26.1
scikit-learn==1.8.0
nvidia-nvjitlink-cu12==12.8.93
pydantic==2.13.3
filelock==3.29.0
annotated-types==0.7.0
pandas==3.0.2
nvidia-nvtx-cu12==12.8.90
requests==2.33.1
shellingham==1.5.4
charset-normalizer==3.4.7
mdurl==0.1.2
cuda-bindings==12.9.4
nvidia-cusparselt-cu12==0.7.1
scipy==1.17.1
h11==0.16.0
hf-xet==1.4.3
nvidia-cusolver-cu12==11.7.3.90
six==1.17.0
MarkupSafe==3.0.3
idna==3.13
setuptools==70.2.0
nvidia-cufft-cu12==11.3.3.83
platformdirs==4.9.6
cuda-pathfinder==1.2.2
safetensors==0.7.0
markdown-it-py==4.0.0
Jinja2==3.1.6
nvidia-nccl-cu12==2.28.9
nvidia-cuda-runtime-cu12==12.8.90
transformers==5.6.2
sympy==1.14.0
packaging==26.2
PyYAML==6.0.3
rich==15.0.0
nvidia-cusparse-cu12==12.5.8.93
triton==3.6.0
pillow==12.1.1
certifi==2026.4.22
typer==0.25.0
pydantic_core==2.46.3
httpx==0.28.1
nvidia-curand-cu12==10.3.9.90
annotated-doc==0.0.4
httpcore==1.0.9
nvidia-nvshmem-cu12==3.4.5
nvidia-cuda-cupti-cu12==12.8.90
gitdb==4.0.12
typing-inspection==0.4.2
mpmath==1.3.0
python-dateutil==2.9.0.post0
